<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink=""
  >
    <mat-icon>list</mat-icon>
  </button>
  <span routerLink="">User Mngmt.</span>
  <span class="example-spacer"></span>
  <ul>
    <li routerLink="">Home</li>
    <li routerLink="about">About</li>
    <li routerLink="contact">Contact</li>
    <li>
      <button mat-raised-button (click)="openUserDialog()">Register</button>
    </li>
  </ul>
</mat-toolbar>
